/* variable font */
@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}
/* italic variable font */
@font-face {
    font-family: 'Figtree Italick';
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}
/* extra bold */
@font-face {
    font-family: 'Figtree ExtraBold';
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}
/* semi bold */
@font-face {
    font-family: 'Figtree SemiBold';
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
}
:root {
--Yellow: hsl(47, 88%, 63%);

--White: hsl(0, 0%, 100%);

--Gray-500: hsl(0, 0%, 42%);
--Gray-950: hsl(0, 0%, 7%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
    font-family: 'Figtree';
    font-size: 16px;
    position: relative;
}

/* main */
main {
    max-width: 400px;
    margin: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--White);
    border: 1px solid var(--Gray-950);
    border-radius: 1rem;
    box-shadow: 10px 10px var(--Gray-950);
}

/* The Svg Image */
img.svg-image {
    min-width: 100%;
    border-radius: .7rem;
}

button {
    padding: .5rem 1rem;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    font-family: 'Figtree ExtraBold';
    font-weight: 800;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

p.published-date {
    margin-top: .9rem;
    color: var(--Gray-950);
}

h1 {
    margin: 1rem auto;
    font-family: 'Figtree ExtraBold';
    font-size: 1.5rem;
    font-weight: 800;
}
h1:hover {
    color: var(--Yellow);
    cursor: pointer;
}

p.content {
    margin-bottom: 1rem;
    color: var(--Gray-500);
    font-weight: 500;
    line-height: 1.5rem;
}


/* avatar styles */

.avatar-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.avatar {
    width: 2rem;
}

.avatar-name {
    font-family: 'Figtree ExtraBold';
    font-size: .8rem;
    font-weight: 800;
}


.attribution {
    position: absolute;
    bottom: .5rem;
}
